.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 5px;
}
.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardWrapper {
  margin-top: 18px;
}
