.card {
  height: 232px;
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 5rem;
}
.cardContent {
  width: 159px;
  height: 205px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}

.follows {
  width: 71px;
  height: 23px;
  border-radius: 10px;
  background: var(--color-black);
  color: var(--color-white);
  padding: 4px 8px;
  margin-left: 6px;
}
.text {
  color: var(--color-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
